body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    padding-inline: 40px;
}

h2 {
    color: #2E2E2E;
    font-weight: 300;
    margin: 0 0 10px 0;
    text-align: center;
}

h3 {
    margin: 0;
    color: #2E2E2E;
    font-weight: 300;
    text-align: center;
}